html, body {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.bg_img img {
    width: 100%;
    height: auto;
}

.map_content {
    margin-top: 200px;
    text-align: center;

}

.testimoni_session {
    display: none;
}



.slide_testimoni {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding: 30px;
    margin-top: 20px;
}

.title_testimoni, .title_tentangkami
.title_partner {
    text-align: center;
}

.card_testimoni {
    width: 450px;
}

.desc_user {
    background-color: #2C2C2C;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px;
}

.detail_user {
    display: flex;
    flex-direction: row;
}

.username {
    color: #fff;
}

.img_user,
.username {
    padding: 5px;
    padding-left: 10px;
}

.img_user img {
    width: 60px;
}

.desc_testimoni {
    padding: 10px;
    border: 1px solid #2C2C2C;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.dot,
.dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover,
.dot2:hover {
    background-color: #2C2C2C;
}

.logo_slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 68px;
}

.partner_img {
    display: none;
}

.logo_slide {
    margin-top: 20px;

}

.achivment-text {
    margin-left: 15px;
    padding-top: 80px; 
}

.text_besar p{
    font-size: 26px; 
    font-weight: 700;
}

.testimoni,
.partner_section {
    margin-top: 100px;
}

.text_besar p{
    font-size: 20px; 
    font-weight: 700;
}

@media (min-width: 769px) {

    .testimoni,
    .partner_section {
        margin-top: 200px;
    }

    .achivment-text {
        text-align: center;
        margin: 50px;
        padding-top: 80px;
    } 

    .text_besar p{
        font-size: 40px; 
        font-weight: 700;
    }
    #tekstentangkami{
        display: none; 
    }
     

}

@media (max-width: 769px) {
    .achivment-text .col-md-4{
        margin-top: 10px;
    }

    #tekstentangkami{
        display: block;
    }

    .achivment-text .row{
        margin-top: 30px;
    }
}