body {
    background-color: #F2F2F2;
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
}

.routes {
    display: flex;
    flex-direction: row;
    padding: 10px;
    padding-left: 20px;
    gap: 10px;
}

.routes a {
    color: #2C2C2C;
}

.img_routes_back {
    width: 20px;
}

.img_routes {
    width: 10px;
}

.galeri_event {
    margin: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #fff;
}

.content_galeri_event {
    padding: 30px 50px 50px 50px;
}

.content_galeri_event h2 {
    margin-bottom: 50px;
}

.content_img_event {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}